
            <% include header.html %>
            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        Console Center
                        <small>operation</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="/admin"><i class="fa fa-dashboard"></i>Console Center</a></li>
                        <li class="active">operation</li>
                    </ol>
                </section>

                <!-- Main content -->
                <section class="content">



                </section><!-- /.content -->

                <% include footer.html %>

    </body>
</html>